<div ng-controller="TorneosController as torneos">
  <h1>Torneos</h1>

  <table class="table table-striped table-bordered table-responsive table-condensed table-hover">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="torneo in torneos.getTorneos()">
        <td>{{ torneo.nombre_torneo }}</td>
        <td>{{ torneo.fecha_inicio }}</td>
        <td>{{ torneo.fecha_fin }}</td>
      </tr>
    </tbody>
  </table>
</div>
